/* 1. Partículas al fondo */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #f8fafc;
}

/* 2. Base y Sidebar (El Menú Pro) */
body {
    margin: 0;
    display: flex;
    font-family: 'Segoe UI', sans-serif;
}

.sidebar {
    width: 250px;
    background-color: #1a202c; /* Color oscuro que te gustaba */
    color: white;
    padding: 40px 20px;
    height: 100vh;
    position: fixed;
}

.sidebar-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: #a0aec0;
}

.sidebar ul {
    list-style: none; /* Esto quita los puntitos blancos */
    padding: 0;
}

.sidebar ul li a {
    color: #cbd5e0;
    text-decoration: none; /* Quita el subrayado azul */
    display: block;
    padding: 12px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #2d3748;
    transform: translateX(10px);
    color: white;
}
