/* Fondo de partículas */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #f8fafc;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #1a202c;
    color: white;
    padding: 40px 20px;
    height: 100vh;
    position: fixed;
}

.main-content {
    margin-left: 280px;
    padding: 50px;
    flex: 1;
    max-width: 800px;
}

section {
    background: rgba(255, 255, 255, 0.9); /* Un poco transparente para ver las partículas */
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.tech-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.tech-card-group {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #e2e8f0;
}

.emoji-anim { font-size: 2rem; display: block; }
